# БД
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=payship_core
DB_URL=postgres://admin:secret@localhost:5432/payship_core?sslmode=disable

# Приложение
SERVER_ADDR=0.0.0.0:8080
MAX_CONNS=20
MIN_CONNS=5
DB_MAX_CONN_IDLE_MINUTES=5m
DB_MAX_CONN_LIFE_HOURS=1h

BASE_URL=http://localhost:8080

#GRAFANA
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

#Тесты
IsTest=true